@media screen and (min-width: 430px) and (max-width: 930px) { 
body {
position: relative;
background-color: #2d2828;
left: 100px;
height: 600px;
margin: 0;
display: grid;
grid-template-rows: 500px 100px;
grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
top: 220px;
overflow: hidden;}


.loblogo {
position: relative;
bottom: 480px;
right: 880px;
display: none;}
  
/*privatlivspolitik*/
.image {
position: relative;
top: 500px;
right: 100px;
width: auto;}
  
.logo {
position: relative;
bottom: 222px;
right: 90px;}

  
.Header { 
position: relative;
background-color: #222020; 
width: 900px;
height: 135px; }

.LOBLOGO {
position: relative;
bottom: 300px;
right: 70px;}
  
.img {
position: relative;
bottom: 400px;
right: 100px;}
  
main#carousel {
right: 2220px;
grid-row: 1 / 2;
grid-column: 1 / 8;
width: 100vw;
height: 500px;
transform-style: preserve-3d;
perspective: 600px;
--items: 5;
--middle: 3;
pointer-events: none;}
        
div.item {
position: absolute;
width: 300px;
height: 400px;
--r: calc(var(--position) - var(--offset));
--abs: max(calc(var(--r) * -1), var(--r));
transition: all 0.25s linear;
transform: rotateY(calc(-10deg * var(--r)))
translateX(calc(-300px * var(--r)));
z-index: calc((var(--position) - var(--abs)));}
        
div.item:nth-of-type(1) { --offset: 1;}
div.item:nth-of-type(2) {--offset: 2;}
div.item:nth-of-type(3) {--offset: 3;}
div.item:nth-of-type(4) {--offset: 4;}
div.item:nth-of-type(5) {--offset: 5;}
        
input:nth-of-type(1) {
position: relative;
grid-column: 2 / 3;
grid-row: 2 / 3;
left: -200px;
bottom: 90px;}
  
input:nth-of-type(1):checked ~ main#carousel {--position: 1;}
        
input:nth-of-type(2) {
position: relative;
grid-column: 3 / 4;
grid-row: 2 / 3;
left: -176px;
bottom: 90px;}
  
input:nth-of-type(2):checked ~ main#carousel {--position: 2;}
      
input:nth-of-type(3) {
position: relative;
grid-column: 4 /5;
grid-row: 2 / 3;
left: -155px;
bottom: 90px;
}
  
input:nth-of-type(3):checked ~ main#carousel {--position: 3;}
        
input:nth-of-type(4) {
position: relative;
grid-column: 5 / 6;
grid-row: 2 / 3;
left: -135px;
bottom: 90px;
}
  
input:nth-of-type(4):checked ~ main#carousel {--position: 4;}
        
input:nth-of-type(5) {
grid-column: 6 / 7;
grid-row: 2 / 3;}
  
input:nth-of-type(5):checked ~ main#carousel {--position: 5;}}
  
    
@media screen and (min-width: 768px) {   
body {    
background-color: #2d2828;
height: 600px;
margin: 0;
display: grid;
grid-template-rows: 500px 100px;
grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;}
  
.Burgermenu {
position: relative;
bottom: 340px; 
display: none;}

.image {
position: relative;
top: 500px;
right: 100px;
display: none;}
    
main#carousel {
position: relative;
left: 900px;
top: 200px;
grid-row: 1 / 2;
grid-column: 1 / 8;
width: 100vw;
height: 500px;
transform-style: preserve-3d;
perspective: 600px;
--items: 5;
--middle: 3;
pointer-events: none;}
              
div.item {
position: absolute;
width: 300px;
height: 400px;
--r: calc(var(--position) - var(--offset));
--abs: max(calc(var(--r) * -1), var(--r));
transition: all 0.25s linear;
transform: rotateY(calc(-10deg * var(--r)))
translateX(calc(-300px * var(--r)));
z-index: calc((var(--position) - var(--abs)));}
              
div.item:nth-of-type(1) { --offset: 1;}
div.item:nth-of-type(2) {--offset: 2;}
div.item:nth-of-type(3) {--offset: 3;}
div.item:nth-of-type(4) {--offset: 4;}
div.item:nth-of-type(5) {--offset: 5;}
              
input:nth-of-type(1) {
position: relative;
grid-column: 2 / 3;
grid-row: 2 / 3;
left: 5px;
top: 90px;}
        
input:nth-of-type(1):checked ~ main#carousel {--position: 1;}
              
input:nth-of-type(2) {
position: relative;
grid-column: 3 / 4;
grid-row: 2 / 3;
left: 20px;
top: 90px;}
        
input:nth-of-type(2):checked ~ main#carousel {--position: 2;}
            
input:nth-of-type(3) {
position: relative;
grid-column: 4 /5;
grid-row: 2 / 3;
right: 890px;
top: 90px;
left: 35px;}
        
input:nth-of-type(3):checked ~ main#carousel {--position: 3;}
              
input:nth-of-type(4) {
position: relative;
grid-column: 5 / 6;
grid-row: 2 / 3;
left: 200px;
top: 90px;
left: 54px;}
        
input:nth-of-type(4):checked ~ main#carousel {--position: 4;}
              
input:nth-of-type(5) {
grid-column: 6 / 7;
grid-row: 2 / 3;}
        
input:nth-of-type(5):checked ~ main#carousel {--position: 5;}
input:nth-of-type(5) {
position: relative;
grid-column: 5 / 6;
grid-row: 2 / 3;
top: 90px;
left: 70px;}}

.navbar a {
position: relative;
float: left;
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 30px;
left: 1388px;
bottom: 460px;}
          
.navbar a:hover {color:#556E53;}

.Headerpc { 
position: relative;
background-color: #222020;
width: 9200px;
height: 135px;
bottom: 480px;}
           
          
main#carousel {
right: 2220px;
grid-row: 1 / 2;
grid-column: 1 / 8;
width: 100vw;
height: 500px;
transform-style: preserve-3d;
perspective: 600px;
--items: 5;
--middle: 3;
pointer-events: none;}
        
div.item {
position: absolute;
width: 300px;
height: 400px;
--r: calc(var(--position) - var(--offset));
--abs: max(calc(var(--r) * -1), var(--r));
transition: all 0.25s linear;
transform: rotateY(calc(-10deg * var(--r)))
translateX(calc(-300px * var(--r)));
z-index: calc((var(--position) - var(--abs)));}
        
div.item:nth-of-type(1) { --offset: 1;}
div.item:nth-of-type(2) {--offset: 2;}
div.item:nth-of-type(3) {--offset: 3;}
div.item:nth-of-type(4) {--offset: 4;}
div.item:nth-of-type(5) {--offset: 5;}
        
input:nth-of-type(1) {
position: relative;
grid-column: 2 / 3;
grid-row: 2 / 3;
right: 890px;}
  
input:nth-of-type(1):checked ~ main#carousel {--position: 1;}
        
input:nth-of-type(2) {
position: relative;
grid-column: 3 / 4;
grid-row: 2 / 3;
right: 890px;}
  
input:nth-of-type(2):checked ~ main#carousel {--position: 2;}
      
input:nth-of-type(3) {
position: relative;
grid-column: 4 /5;
grid-row: 2 / 3;
right: 890px;}
  
input:nth-of-type(3):checked ~ main#carousel {--position: 3;}
        
input:nth-of-type(4) {
position: relative;
grid-column: 5 / 6;
grid-row: 2 / 3;
right: 890px;}
  
input:nth-of-type(4):checked ~ main#carousel {--position: 4;}
        
input:nth-of-type(5) {
grid-column: 6 / 7;
grid-row: 2 / 3;}
  
input:nth-of-type(5):checked ~ main#carousel {--position: 5;}

input:nth-of-type(5) {
  position: relative;
  grid-column: 5 / 6;
  grid-row: 2 / 3;
  left: -85px;
bottom: 90px;
}